* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* body * {
  outline: 1px solid pink;
} */

.main-container {
  height: 100vh;
  align-items: center;
  display: grid;
  gap: 20px;
  max-width: 1270px;
  margin: 0 auto;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: maroon;
  height: 500px;
  color: white;
  transition: transform 0.2s;
  box-shadow: 5px 10px 8px #888888;
}

.card:hover {
  transform: scale(1.1);
}

.card p {
  font-size: 2rem;
  padding: 20px;
  text-align: center;
}

.card-title,
.card-footer {
  background: orange;
  padding: 20px;
  text-align: center;
}

@media screen and (min-width: 360px) {
  .main-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 540px) {
  .main-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 720px) {
  .main-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 960px) {
  .main-container {
    grid-template-columns: repeat(5, 1fr);
  }
}
